<div class="art-category">
      <div class="art-category-child" ></div>
      <div class="art-category-inner">
        <div class="frame-parent3">
          <img class="frame-child3" loading="lazy" alt="" src="assets/group-11.svg" />
          <div class="dsn-gestion-wrapper">
            <h2 class="dsn-gestion1">
              <span>DSN</span>
              <span class="span1"> </span>
              <span class="gestion1">GESTION</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="connectez-vous-wrapper">
        <div class="connectez-vous">Connectez vous</div>
      </div>
      <form class="input-area">
        <div class="input-fields">
          <div class="input-labels">
            <div class="email">Email</div>
            <div class="input">
              <div class="input-child" ></div>
              <input class="exampletestgmailcom" placeholder="exampletest@gmail.com" type="text" />
            </div>
          </div>
          <div class="input-labels">
            <input class="mot-de-passe" placeholder="Mot de passe" type="text" />
            <div class="input1">
              <div class="input-child" ></div><ellipse-component>  </ellipse-component>
            </div>
          </div>
        </div>
        <div class="mot-de-passe-oubli-wrapper">
          <div class="mot-de-passe1">Mot de passe oublié ?</div>
        </div>
        <button class="btn" (click)="onBtnClick()">
          <div class="btn-child" ></div>
          <div class="se-connecter">Se connecter</div>
        </button>
        <div class="vous-navez-pas-container">
          <span class="vous-navez-pas">Vous n’avez pas de compte ? </span>
          <b class="inscrivez-vous">Inscrivez-vous</b>
        </div>
      </form>
    </div>