<div class="rectangle-parent">
      <div class="frame-item" ></div>
      <div class="frame-wrapper">
        <div class="frame-group">
          <div class="frame-container">
            <img class="frame-inner" loading="lazy" alt="" src="assets/group-1.svg" />
          </div>
          <a class="dsn-gestion">
            <span>DSN</span>
            <span class="span"> </span>
            <span class="gestion">GESTION</span>
          </a>
        </div>
      </div>
      <div class="frame-div">
        <div class="menu-wrapper">
          <div class="menu">MENU</div>
        </div>
        <div class="menu-divider-parent">
          <div class="menu-divider" ></div>
          <div class="menu-items-container">
            <div class="menu-item-icons">
              <div class="dashboard-button">
                <img class="ridashboard-fill-icon" loading="lazy" alt="" src="assets/ridashboardfill.svg" />
                <div class="dashboard">Dashboard</div>
              </div>
              <div class="sub-menu-item-wrapper">
                <div class="sub-menu-item" (click)="onSubMenuItemClick()">
                  <div class="frame-parent1">
                    <div class="ribuilding-4-line-wrapper">
                      <img class="ribuilding-4-line-icon" loading="lazy" alt="" src="assets/ribuilding4line.svg" />
                    </div>
                    <div class="sci">SCI</div>
                  </div>
                  <img class="riarrow-right-s-fill-icon" loading="lazy" alt="" src="assets/riarrowrightsfill.svg" />
                </div>
              </div>
              <div class="wrapper">
                <div class="div" (click)="onContainerClick()">
                  <div class="ribuilding-4-line-wrapper">
                    <img class="ribuilding-4-line-icon" loading="lazy" alt="" src="assets/ricalculatorline.svg" />
                  </div>
                  <div class="comptabilit">Comptabilité</div>
                </div>
              </div>
              <div class="wrapper">
                <div class="div" (click)="onContainerClick1()">
                  <div class="ribuilding-4-line-wrapper">
                    <img class="ribuilding-4-line-icon" loading="lazy" alt="" src="assets/rimoneyeurocircleline.svg" />
                  </div>
                  <div class="sci">Financement</div>
                </div>
              </div>
              <div class="wrapper">
                <div class="div" (click)="onContainerClick2()">
                  <div class="ribuilding-4-line-wrapper">
                    <img class="ribuilding-4-line-icon" loading="lazy" alt="" src="assets/mdiexchange.svg" />
                  </div>
                  <div class="sci">DSN Transaction</div>
                </div>
              </div>
              <div class="wrapper">
                <div class="div" (click)="onContainerClick3()">
                  <div class="mask-group-wrapper">
                    <img class="mask-group-icon" loading="lazy" alt="" src="assets/mask-group@2x.png" />
                  </div>
                  <a class="location">Location</a>
                </div>
              </div>
              <div class="wrapper">
                <div class="frame-parent1">
                  <div class="ribuilding-4-line-wrapper">
                    <img class="risettings-3-line-icon" loading="lazy" alt="" src="assets/risettings3line.svg" />
                  </div>
                  <div class="paramtres">Paramètres</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>