<div class="bar-items">
      <div class="add-button-parent">
        <button class="add-button">
          <div class="plus-icon">
            <img class="icround-plus-icon1" alt="" src="assets/icroundplus.svg" />
          </div>
          <a class="ajouter1">Ajouter</a>
        </button>
        <div class="search-bar">
          <div class="barre-de-recherche1">
            <div class="barre-de-recherche-item" ></div>
            <input class="rechercher1" placeholder="Rechercher..." type="text" />
            <img class="risearch-line-icon1" alt="" src="assets/risearchline.svg" />
          </div>
        </div>
        <div class="notification-items-wrapper">
          <div class="notification-items">
            <div class="notification-item">
              <img class="rinotification-4-line-icon1" loading="lazy" alt="" src="assets/rinotification4line.svg" />
            </div>
            <div class="bell-separator">
              <div class="bell-separator-child" ></div>
            </div>
            <div class="profile-picture-parent">
              <img class="profile-picture-icon" loading="lazy" alt="" src="assets/ellipse-8@2x.png" />
              <div class="notification-item">
                <img class="rinotification-4-line-icon1" loading="lazy" alt="" src="assets/materialsymbolsarrowdropdown.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="entity-name">
        <h2 class="sci-ametek1">SCI Ametek</h2>
        <div class="breadcrumb">
          <div class="home-sci-container">
            <span class="home1">Home /</span>
            <span class="span3"> </span>
            <span class="home1">SCI /</span>
            <span class="span3"> SCI Ametek</span>
          </div>
        </div>
      </div>
      <div class="property-list"><appart [rectangle13]="'assets/rectangle-13@2x.png'" [showCardLabel]="true" [appartement1]="'Appartement 1'"> </appart>
        <div class="property-card-instance"><appart [appart1Position]="'absolute'" [appart1Top]="'0px'" [appart1Left]="'0px'" [rectangle13]="'assets/rectangle-13-1@2x.png'" [showCardLabel]="false" [cardLabelHeight]="'unset'" [cardLabelWidth]="'unset'" [cardLabelMargin]="'unset'" [cardLabelPosition]="'unset'" [cardLabelTop]="'unset'" [cardLabelLeft]="'unset'" [appartement1]="'Appartement 2'" [appartement1Width]="'186px'"> </appart>
          <div class="location-label">
            <div class="location2">Location</div>
          </div>
        </div>
      </div>
    </div>