<div class="rectangle-parent1">
      <div class="frame-child4" ></div>
      <div class="main-content-parent">
        <div class="main-content">
          <img class="main-content-child" loading="lazy" alt="" src="assets/group-1.svg" />
        </div>
        <a class="dsn-gestion2">
          <span>DSN</span>
          <span class="span2"> </span>
          <span class="gestion2">GESTION</span>
        </a>
      </div>
      <div class="left-sidebar">
        <div class="sidebar-top">
          <div class="menu1">MENU</div>
        </div>
        <div class="sidebar-content">
          <div class="sidebar-items">
            <div class="separator" ></div>
          </div>
          <div class="sidebar-icons">
            <div class="frame-parent4">
              <div class="actif-wrapper">
                <div class="actif" (click)="onActifContainerClick()">
                  <img class="icoutline-minus-icon" loading="lazy" alt="" src="assets/ridashboardfill1.svg" />
                  <a class="dashboard1">Dashboard</a>
                </div>
              </div>
              <div class="properties">
                <div class="property-items">
                  <div class="setting-item">
                    <div class="ribuilding-4-line-container">
                      <img class="ribuilding-4-line-icon1" loading="lazy" alt="" src="assets/ribuilding4line1.svg" />
                    </div>
                    <div class="sci1">SCI</div>
                  </div>
                </div>
                <div class="entities">
                  <div class="entity-list">
                    <img class="icoutline-minus-icon" loading="lazy" alt="" src="assets/icoutlineminus.svg" />
                    <div class="sci-ametek">SCI Ametek</div>
                  </div>
                  <div class="entity-list">
                    <img class="icoutline-minus-icon" alt="" src="assets/icoutlineminus.svg" />
                    <div class="sci-seretek">SCI Seretek</div>
                  </div>
                  <div class="entity-list">
                    <img class="icoutline-minus-icon" alt="" src="assets/icoutlineminus.svg" />
                    <div class="sci-davan">SCI Davan</div>
                  </div>
                </div>
              </div>
              <div class="top-icons">
                <div class="first-row" (click)="onFirstRowContainerClick()">
                  <div class="ribuilding-4-line-container">
                    <img class="ricalculator-line-icon1" loading="lazy" alt="" src="assets/ricalculatorline.svg" />
                  </div>
                  <div class="comptabilit1">Comptabilité</div>
                </div>
              </div>
              <div class="top-icons">
                <div class="first-row" (click)="onContainerClick()">
                  <div class="ribuilding-4-line-container">
                    <img class="ricalculator-line-icon1" loading="lazy" alt="" src="assets/rimoneyeurocircleline.svg" />
                  </div>
                  <div class="financement1">Financement</div>
                </div>
              </div>
              <div class="top-icons2">
                <div class="first-row" (click)="onContainerClick1()">
                  <div class="ribuilding-4-line-container">
                    <img class="ricalculator-line-icon1" loading="lazy" alt="" src="assets/mdiexchange.svg" />
                  </div>
                  <div class="financement1">DSN Transaction</div>
                </div>
              </div>
              <div class="property-items">
                <div class="setting-items">
                  <div class="setting-item">
                    <div class="setting-icon-label">
                      <img class="mask-group-icon1" loading="lazy" alt="" src="assets/mask-group@2x.png" />
                    </div>
                    <div class="location1">Location</div>
                  </div>
                  <div class="setting-item">
                    <div class="ribuilding-4-line-container">
                      <img class="ribuilding-4-line-icon1" loading="lazy" alt="" src="assets/risettings3line.svg" />
                    </div>
                    <div class="paramtres1">Paramètres</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="riarrow-right-s-fill-wrapper">
              <img class="riarrow-right-s-fill-icon1" loading="lazy" alt="" src="assets/riarrowrightsfill1@2x.png" />
            </div>
          </div>
        </div>
      </div>
    </div>