<div class="infos-sci">
      <div class="infos-sci-child" ></div>
      <div class="company-details">
        <div class="info-title">
          <div class="infos-sci1">Infos SCI</div>
        </div>
        <div class="nom-sci-parent">
          <div class="nom-sci">
            <div class="company-name-fields">
              <div class="company-name-icons">
                <img class="ricalendar-2-line-icon" alt="" src="assets/ribuilding4line-1.svg" />
              </div>
              <div class="nom-de-la">Nom de la SCI</div>
            </div>
            <div class="sci-garcia">SCI Garcia</div>
          </div>
          <div class="nom-sci">
            <div class="company-name-fields">
              <div class="company-name-icons">
                <img class="ricalendar-2-line-icon" alt="" src="assets/ribuilding4line-1.svg" />
              </div>
              <div class="siren">SIREN</div>
            </div>
            <div class="sci-garcia">135790248</div>
          </div>
          <div class="nom-sci2">
            <div class="frame-parent7">
              <div class="ricalendar-2-line-wrapper">
                <img class="ricalendar-2-line-icon" loading="lazy" alt="" src="assets/ricalendar2line.svg" />
              </div>
              <div class="date-de-cration">Date de création</div>
            </div>
            <div class="sci-garcia">18/02/2021</div>
          </div>
          <div class="rcs">
            <div class="company-name-fields">
              <div class="company-name-icons">
                <img class="ricalendar-2-line-icon" alt="" src="assets/ricalendar2line.svg" />
              </div>
              <div class="numro-tva">Numéro TVA</div>
            </div>
            <div class="sci-garcia">FR13579024601</div>
          </div>
        </div>
      </div>
      <div class="nom-sci-group">
        <div class="rcs">
          <div class="company-name-fields">
            <div class="company-name-icons">
              <img class="ricalendar-2-line-icon" loading="lazy" alt="" src="assets/rimappin2line.svg" />
            </div>
            <div class="adresse">Adresse</div>
          </div>
          <div class="sci-garcia">11 Rue de la Liberté</div>
        </div>
        <div class="rcs">
          <div class="company-name-fields">
            <div class="company-name-icons">
              <img class="ricalendar-2-line-icon" loading="lazy" alt="" src="assets/uilbag.svg" />
            </div>
            <div class="rcs1">RCS</div>
          </div>
          <div class="sci-garcia">Marseille 135790246</div>
        </div>
        <div class="siret">
          <div class="siret-inner">
            <div class="company-name-fields">
              <div class="company-name-icons">
                <img class="ricalendar-2-line-icon" loading="lazy" alt="" src="assets/laidcardsolid.svg" />
              </div>
              <div class="nom-de-la">Siret</div>
            </div>
          </div>
          <div class="sci-garcia">13679024681234</div>
        </div>
        <div class="id">
          <div class="company-name-fields">
            <div class="company-name-icons">
              <img class="ricalendar-2-line-icon" loading="lazy" alt="" src="assets/riuser3line.svg" />
            </div>
            <div class="nom-de-la">ID du propriétaire</div>
          </div>
          <div class="sci-garcia">4</div>
        </div>
      </div>
    </div>