<div class="rectangle-container">
      <div class="frame-child1" ></div>
      <div class="total-revenues-parent">
        <div class="total-revenues1">Total Revenues</div>
        <div class="k-parent">
          <b class="k1">€185k</b>
          <div class="frame-wrapper2">
            <div class="parent">
              <div class="div4">-1,25</div>
              <img class="riarrow-right-up-line-icon1" alt="" src="assets/riarrowrightupline-2@2x.png" />
            </div>
          </div>
        </div>
        <div class="compar-au-mois1">Comparé au mois passé</div>
      </div>
      <div class="frame-wrapper3">
        <img class="frame-child2" alt="" src="assets/group-2-2.svg" />
      </div>
    </div>