<div class="home">
      <header class="home-child" ></header>
      <main class="fond-parent"><fond>  </fond><frame-component>  </frame-component>
        <img class="frequently-asked-questions-faq" loading="lazy" alt="" src="assets/ellipse-8@2x.png" />
        <img class="material-symbolsarrow-drop-do-icon" alt="" src="assets/materialsymbolsarrowdropdown.svg" />
        <div class="frame-child" ></div>
        <img class="rinotification-4-line-icon" loading="lazy" alt="" src="assets/rinotification4line.svg" />
        <div class="barre-de-recherche">
          <div class="barre-de-recherche-child" ></div>
          <input class="rechercher" placeholder="Rechercher..." type="text" />
          <img class="risearch-line-icon" alt="" src="assets/risearchline.svg" />
        </div><group-component [totalRevenues]="'Total Revenues'" [k]="'€185k'" [group2]="'assets/group-2.svg'"> </group-component><group-component [groupDivLeft]="'839px'" [revenueLabelsWidth]="'153px'" [totalRevenues]="'Total locataires'" [unitLabelsJustifyContent]="'space-between'" [unitLabelsGap]="'20px'" [unitLabelsAlignSelf]="'stretch'" [k]="'3.85k'" [kMinWidth]="'69px'" [group2]="'assets/group-2-1.svg'"> </group-component><group-component1>  </group-component1>
        <button class="frame-parent">
          <div class="icround-plus-wrapper">
            <img class="icround-plus-icon" alt="" src="assets/icroundplus.svg" />
          </div>
          <a class="ajouter">Ajouter</a>
        </button>
      </main>
    </div>