<div class="appart-1" (click)="onAppart1ContainerClick()" [ngStyle]="appart1Style">
      <div class="card-top">
        <div class="card-top-child" ></div>
        <img class="card-top-item" loading="lazy" alt="" [src]="rectangle13" />
        <div class="card-label" *ngIf="showCardLabel" [ngStyle]="cardLabelStyle">
          <div class="en-vente">En vente</div>
        </div>
      </div>
      <div class="card-content">
        <div class="content-items">
          <div class="location-info-parent">
            <div class="location-info">
              <div class="appartement-1" [ngStyle]="appartement1Style">{{appartement1}}</div>
              <div class="htel-de-ville">Hôtel de ville , Parc la Planchette</div>
            </div>
            <div class="separator-dots">
              <img class="mdidots-vertical-icon" alt="" src="assets/mdidotsvertical.svg" />
            </div>
          </div>
          <div class="bedroom-info">
            <div class="chambres">
              <div class="chambres1">Chambres</div>
              <div class="chambres-inner">
                <div class="mdibed-outline-parent">
                  <img class="mdibed-outline-icon" loading="lazy" alt="" src="assets/mdibedoutline.svg" />
                  <div class="div7">2</div>
                </div>
              </div>
            </div>
            <div class="bedroom-details">
              <div class="chambres2">
                <div class="salle-de-bain">Salle de bain</div>
                <div class="chambres-child">
                  <div class="mdibed-outline-group">
                    <img class="mdibed-outline-icon" alt="" src="assets/mdibedoutline.svg" />
                    <div class="div8">1</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bedroom-details1">
              <div class="chambres2">
                <div class="salle-de-bain">Salle de bain</div>
                <div class="chambres-inner">
                  <div class="mdibed-outline-parent">
                    <img class="mdibed-outline-icon" alt="" src="assets/mdibedoutline.svg" />
                    <div class="div7">3</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chambres4">
              <div class="surface">Surface</div>
              <div class="chambres-inner">
                <div class="mdibed-outline-parent">
                  <img class="mdibed-outline-icon" alt="" src="assets/mdibedoutline.svg" />
                  <div class="div7">3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>